client.focused #{{base0E-hex}} #{{base0E-hex}} #{{base01-hex}} #{{base0E-hex}} #{{base0E-hex}}
client.focused_inactive #{{base01-hex}} #{{base01-hex}} #{{base05-hex}} #{{base01-hex}} #{{base01-hex}}
client.unfocused #{{base01-hex}} #{{base01-hex}} #{{base05-hex}} #{{base01-hex}} #{{base01-hex}}
client.urgent #{{base08-hex}} #{{base01-hex}} #{{base05-hex}} #{{base08-hex}} #{{base08-hex}}
client.background #{{base01-hex}}
