# Base16 {{scheme-name}} - Micro colour config
# Scheme by {{scheme-author}}
color-link default "#{{base05-hex}},#{{base00-hex}}"
color-link comment "#{{base03-hex}},#{{base00-hex}}"
color-link identifier "#{{base08-hex}},#{{base00-hex}}"
color-link identifier.class "#{{base0A-hex}}"
color-link constant "#{{base08-hex}},#{{base00-hex}}"
color-link constant.bool "#{{base09-hex}}"
color-link constant.number "#{{base09-hex}}"
color-link constant.string "#{{base0B-hex}},#{{base00-hex}}"
color-link constant.string.char "#{{base0B-hex}},#{{base00-hex}}"
color-link statement "#{{base0E-hex}},#{{base00-hex}}"
color-link symbol "#{{base05-hex}},#{{base00-hex}}"
color-link symbol.tag "#{{base08-hex}}"
color-link preproc "#{{base0E-hex}},#{{base00-hex}}"
color-link type "#{{base0A-hex}},#{{base00-hex}}"
color-link type.keyword "#{{base0E-hex}}"
color-link special "#{{base0E-hex}},#{{base00-hex}}"
color-link underlined "#{{base0A-hex}},#{{base00-hex}}"
color-link error "bold #{{base08-hex}},#{{base00-hex}}"
color-link todo "bold #{{base0C-hex}},#{{base00-hex}}"
color-link selection "#{{base02-hex}}"
color-link statusline "#{{base01-hex}},#{{base05-hex}}"
color-link tabbar "#{{base01-hex}},#{{base05-hex}}"
color-link indent-char "#{{base01-hex}},#{{base00-hex}}"
color-link line-number "#{{base01-hex}},#{{base00-hex}}"
color-link gutter-error "#{{base0E-hex}},#{{base00-hex}}"
color-link gutter-warning "#{{base0B-hex}},#{{base00-hex}}"
color-link diff-added "#{{base0B-hex}}"
color-link diff-modified "#{{base0E-hex}}"
color-link diff-deleted "#{{base08-hex}}"
color-link cursor-line "#{{base03-hex}}"
color-link current-line-number "#{{base03-hex}},#{{base00-hex}}"
color-link color-column "#{{base00-hex}}"
color-link ignore "#{{base0D-hex}}"
color-link scrollbar "#{{base01-hex}}"
color-link divider "#{{base01-hex}}"
color-link message "#{{base04-hex}}"
color-link error-message "#{{base08-hex}}"
color-link match-brace "#{{base00-hex}},#{{base09-hex}}"
color-link hlsearch "#{{base05-hex}},#{{base01-hex}}"
color-link tab-error "#{{base08-hex}}"
color-link trailingws "#{{base01-hex}}"
