[global]
frame_color = "#{{base0E-hex}}"
separator_color = "#{{base02-hex}}"

[base16_low]
    msg_urgency = "low"
    background = "#{{base01-hex}}"
    foreground = "#{{base05-hex}}"
    frame_color = "#{{base0B-hex}}"

[base16_normal]
    msg_urgency = "normal"
    background = "#{{base01-hex}}"
    foreground = "#{{base05-hex}}"
    frame_color = "#{{base0E-hex}}"

[base16_critical]
    msg_urgency = "critical"
    background = "#{{base01-hex}}"
    foreground = "#{{base05-hex}}"
    frame_color = "#{{base08-hex}}"
