# Base16 {{scheme-name}}
# Author: {{scheme-author}}

[colors]
background={{base00-hex}}ff
text={{base05-hex}}ff
placeholder={{base03-hex}}ff
prompt={{base05-hex}}ff
input={{base05-hex}}ff
match={{base0A-hex}}ff
selection={{base03-hex}}ff
selection-text={{base05-hex}}ff
selection-match={{base0A-hex}}ff
counter={{base06-hex}}ff
border={{base0D-hex}}ff
