@import "./colors.css";

* {
  font-family: "Fira Code Nerd Font";
}

window {
  background-color: alpha(@base01, 0.5);
}

button {
  margin: 500px 100px;
  color: @base05;
  font-size: 30px;
  background-color: alpha(@base03, 0.8);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
}

button:hover {
  color: @base08;
  background-color: alpha(@base08, 0.9);
  border-color: @base08;
}

#shutdown {
  background-image: url("./icons/power-off.png");
}

#reboot {
  background-image: url("./icons/restart.png");
}

#logout {
  background-image: url("./icons/exit.png");
}

#firmware {
  background-image: url("./icons/firmware.png");
}
