
/*
*
* Base16 {{scheme-name}}
* Author: {{scheme-author}}
*
*/

.theme-dark {
  --base00: #{{base00-hex}};
  --base00-rgb: {{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}};
  --base01: #{{base01-hex}};
  --base01-rgb: {{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}};
  --base02: #{{base02-hex}};
  --base02-rgb: {{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}};
  --base03: #{{base03-hex}};
  --base03-rgb: {{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}};
  --base04: #{{base04-hex}};
  --base04-rgb: {{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}};
  --base05: #{{base05-hex}};
  --base05-rgb: {{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}};
  --base06: #{{base06-hex}};
  --base06-rgb: {{base06-rgb-r}}, {{base06-rgb-g}}, {{base06-rgb-b}};
  --base07: #{{base07-hex}};
  --base07-rgb: {{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}};
  --base08: #{{base08-hex}};
  --base08-rgb: {{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}};
  --base09: #{{base09-hex}};
  --base09-rgb: {{base09-rgb-r}}, {{base09-rgb-g}}, {{base09-rgb-b}};
  --base0A: #{{base0A-hex}};
  --base0A-rgb: {{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}};
  --base0B: #{{base0B-hex}};
  --base0B-rgb: {{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}};
  --base0C: #{{base0C-hex}};
  --base0C-rgb: {{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}};
  --base0D: #{{base0D-hex}};
  --base0D-rgb: {{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}};
  --base0E: #{{base0E-hex}};
  --base0E-rgb: {{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}};
  --base0F: #{{base0F-hex}};
  --base0F-rgb: {{base0F-rgb-r}}, {{base0F-rgb-g}}, {{base0F-rgb-b}};
  --base0D-light: rgba({{base0D-rgb-r}}, {{base0D-rgb-b}}, {{base0D-rgb-g}}, 0.6);
  --base0A-alpha: rgba({{base0A-rgb-r}}, {{base0A-rgb-b}}, {{base0A-rgb-g}}, 0.3);
  --base01-alpha: rgba({{base01-rgb-r}}, {{base01-rgb-b}}, {{base01-rgb-g}}, 0.5);
}

.theme-light {
  --base00: #{{base00-hex}};
  --base00-rgb: {{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}};
  --base01: #{{base01-hex}};
  --base01-rgb: {{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}};
  --base02: #{{base02-hex}};
  --base02-rgb: {{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}};
  --base03: #{{base03-hex}};
  --base03-rgb: {{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}};
  --base04: #{{base04-hex}};
  --base04-rgb: {{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}};
  --base05: #{{base05-hex}};
  --base05-rgb: {{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}};
  --base06: #{{base06-hex}};
  --base06-rgb: {{base06-rgb-r}}, {{base06-rgb-g}}, {{base06-rgb-b}};
  --base07: #{{base07-hex}};
  --base07-rgb: {{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}};
  --base08: #{{base08-hex}};
  --base08-rgb: {{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}};
  --base09: #{{base09-hex}};
  --base09-rgb: {{base09-rgb-r}}, {{base09-rgb-g}}, {{base09-rgb-b}};
  --base0A: #{{base0A-hex}};
  --base0A-rgb: {{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}};
  --base0B: #{{base0B-hex}};
  --base0B-rgb: {{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}};
  --base0C: #{{base0C-hex}};
  --base0C-rgb: {{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}};
  --base0D: #{{base0D-hex}};
  --base0D-rgb: {{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}};
  --base0E: #{{base0E-hex}};
  --base0E-rgb: {{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}};
  --base0F: #{{base0F-hex}};
  --base0F-rgb: {{base0F-rgb-r}}, {{base0F-rgb-g}}, {{base0F-rgb-b}};
  --base0D-light: rgba({{base0D-rgb-r}}, {{base0D-rgb-b}}, {{base0D-rgb-g}}, 0.6);
  --base0A-alpha: rgba({{base0A-rgb-r}}, {{base0A-rgb-b}}, {{base0A-rgb-g}}, 0.3);
  --base01-alpha: rgba({{base01-rgb-r}}, {{base01-rgb-b}}, {{base01-rgb-g}}, 0.5);
}
