exec dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK XDG_CURRENT_DESKTOP
exec blueman-applet
exec nm-applet
exec dunst
exec sleep 2 && awww-daemon && sleep 2 && awww img ~/.config/sway/current-wallpaper --transition-duration 2 --transition-type any --transition-step 255 --transition-fps 120
exec waybar
exec syncthing serve --no-browser --allow-newer-config

{{- if eq .chezmoi.hostname "eva-unit-01" }}
exec steam -silent -forcedesktopscaling=1.75
#exec sleep 5 && vesktop
exec sleep 5 && discord
exec sleep 5 && qbittorrent
{{- end }}
